<div id="content">
  <h2>Album: <%= @new_album.title %></h2>
  <hr>

  <h4>File uploader!</h4>
    <form role ="form" action ="/photos" method="post" enctype='multipart/form-data'>
      <div class="form-group">
        <input type="hidden" name="post[album_id]" value="<%= @new_album.id%>">
        <input type='file' name='post[file_name]'>
      </div>

        <p>
      <div class="form-group">
        <label for="inputCaption">Caption</label>
        <textarea name="post[caption]" class="form-control" id="inputCaption" placeholder="Enter caption" rows="3"></textarea>
      </div>
      <input type='submit' value='Upload!'>
    </form>
</div>


